.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100vh;
  width: 60%;
  padding: 1rem;
  transition: all 0.5s;
}

.hidden {
  left: calc(-60% - 2rem);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.65;
  z-index: 1;
}

.invisible {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerText {
  font-size: 2rem;
}

.collapseIcon {
  transform: rotate(90deg);
  cursor: pointer;
}

.subjectNotSelected {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 50vh;
  text-align: center;
}

.chaptersList {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 1rem 0;
}

.chapterName {
  display: flex;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  cursor: pointer;
  transition: all 0.25s;
}

.chapterName:hover {
  padding-left: 0.5rem;
}

.chapterNameSelected {
  background-color: #0005;
  border-left: 0.2rem solid;
  padding-left: 0.5rem;
  margin-left: -0.75rem;
}

.chapterNum {
  margin-right: 0.25rem;
  font-weight: bold;
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: #f2e5bc;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #282828;
  }
}

@media (min-width: 850px) {
  .container {
    top: unset;
    left: 0;
    bottom: 0;
    width: 25%;
    height: calc(100vh - 6rem);
  }

  .chaptersList {
    border-right: 0.5px solid;
  }

  .collapseIcon,
  .overlay {
    display: none;
  }
}
