.container {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 70%;
}

.hidden {
  display: none;
}

.header {
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
}

.collapseIcon {
  transform: rotate(90deg);
  cursor: pointer;
}

.chaptersList {
  padding: 0.5rem 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.chapterName {
  margin: 0.5rem 0;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all 0.25s;
}

.chapterName:hover {
  padding-left: 0.5rem;
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: #eee;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #282828;
  }
}
