* {
  user-select: none;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table,
td,
th {
  padding: 0.5rem;
  border-collapse: collapse;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  body {
    color: #3c3836;
    background-color: #f2e5bc;
  }

  table,
  th,
  td {
    border: 1px solid #928374;
  }

  svg {
    fill: #282828;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: #ebdbb2;
    background-color: #282828;
  }

  table,
  th,
  td {
    border: 1px solid #a89984;
  }

  svg {
    fill: #ebdbb2;
  }
}
