* {
  user-select: none;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

table,
td,
th {
  padding: 0.5rem;
  border-collapse: collapse;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }

  table,
  th,
  td {
    border: 1px solid black;
  }

  svg {
    fill: black;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  table,
  th,
  td {
    border: 1px solid white;
  }

  svg {
    fill: white;
  }
}
