.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-out;
  border-bottom: 0.1px solid;
  z-index: 2;
}

.collapedContainer {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.hidden {
  top: -14rem;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.65;
  z-index: 1;
}

.invisible {
  display: none;
}

.selectPicker {
  margin: 0.5rem 0;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  font-size: 1rem;

  /* 
   * Credit goes to https://stackoverflow.com/a/67296005
   * for this hack to fix arrow icon
   */
  background-position: calc(100% - 0.75rem) center !important;
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;
  padding-right: 2rem !important;
}

.selectPickerDisabled {
  opacity: 0.4;
  pointer-events: none;
}

.expandIcon {
  cursor: pointer;
}

.collapseIcon {
  margin: 0.5rem auto;
  align-self: center;
  transform: rotate(180deg);
  cursor: pointer;
}

.selectPicker {
  border: 1px solid grey;
}

@media (prefers-color-scheme: light) {
  .container {
    background-color: #f2e5bc;
  }

  .selectPicker {
    background: url("data:image/svg+xml,<svg height='12px' width='12px' viewBox='0 0 16 16' fill='%23282828' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
  }
}

@media (prefers-color-scheme: dark) {
  .container {
    background-color: #282828;
  }

  .selectPicker {
    background: url("data:image/svg+xml,<svg height='12px' width='12px' viewBox='0 0 16 16' fill='%23ebdbb2' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
      no-repeat;
  }
}

@media (min-width: 850px) {
  .container {
    top: 0 !important;
    border: unset;
    flex-direction: unset;
    justify-content: space-between;
    padding: 0.5rem 10%;
    margin: auto;
  }

  .selectPicker {
    width: 30%;
  }

  .overlay {
    display: none;
  }

  .collapseIcon,
  .expandIcon,
  .collapedContainer {
    display: none;
  }
}
